.navbar {
  height: 60px;
}

.navbar-light {
  border-bottom: solid 1px #0003 !important;
}

.navbar-brand-img {
  max-width: 40px;
}

.navbar-brand {
  font-family: Flamenco, sans-serif;
  font-size: 19pt !important;
  color: #555 !important;
}

.navbar .nav-link {
  font-size: 11pt;
  transition: .2s color;
}
