<div class="d-none d-lg-block w-100">
  <figure class="{{ include.count }} mockup d-flex flex-row align-items-center mb-5 px-4 py-2">
    <div class="module-block d-flex flex-row justify-content-center align-items-center">
      <span>
        {{ include.left }}
      </span>
    </div>
    <div class="module-block d-flex justify-content-center align-items-center">
      <span>
        {{ include.center }}
      </span>
    </div>
    <div class="module-block d-flex justify-content-center align-items-center">
      <span>
        {{ include.right }}
      </span>
    </div>
  </figure>
</div>
