<nav class="navbar navbar-expand-md navbar-light bg-light text-center">
  <div class="container">
    <a class="d-flex flex-row align-items-center navbar-brand mx-auto" href={{ "/" | relative_url }}>
      <img class="navbar-brand-img mr-2" src={{ "/img/logo.svg" | relative_url }}>
      <span>polybar</span>
    </a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        {% for item in site.data.navbar %}
          <li class="nav-item">
            <a class="nav-link" href="{{ item.link }}">{{ item.label }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
