<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container">
    <a class="d-flex flex-row align-items-center navbar-brand" href="{{ "/" | relative_url }}">
      <img class="navbar-brand-img mr-2" src="{{ "/assets/img/logo.svg" | relative_url }}">
      <span>polybar</span>
    </a>
    <div class="navbar-collapse">
      <ul class="navbar-nav ml-auto">
        {% for item in site.data.navbar %}
          <li class="{% unless item.xs %} d-none {% endunless %} d-sm-inline nav-item">
            <a class="nav-link" href="{{ item.link | relative_url }}">{{ item.label }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
