h1, h2, h3, h4 {
  font-family: Josefin Sans;
}

.display-1 {
  font-family: Poiret One;
  font-size: 7.25vh;
}

h4 {
  font-weight: 300 !important;
}

/* xs */
@media (max-width: 575.98px) {
  .display-1 {
    font-family: Josefin Sans;
    font-size: 25pt;
    font-weight: 400;
  }

  h1 {
    font-size: 22pt;
  }

  h2 {
    font-size: 19pt;
  }

  h3 {
    font-size: 17pt;
  }

  h4 {
    font-size: 15pt;
  }
}

/* sm */
@media (min-width: 575.98px) and (max-width: 768px) {
  .display-1 {
    font-family: Josefin Sans;
    font-size: 30pt !important;
    font-weight: 400 !important;
  }
}

/* md */
@media (min-width: 768px) and (max-width: 991.98px) {
  .display-1 {
    font-family: Josefin Sans;
    font-size: 35pt !important;
    font-weight: 400 !important;
  }
}
