a.b {
  color: inherit !important;
  font-weight: 500;
}

a.u {
  color: inherit !important;
  text-decoration: underline;
}

a.u:hover {
  background: unset !important;
  text-decoration: underline !important;
}

.clickable:hover {
  cursor: pointer;
}

#btn-scroll-to-main {
  height: 40px;
  width: 40px;

  border-radius: 50%;

  transition: .2s background, .2s border-color;
}

#btn-scroll-to-main:hover {
  background: #8881;
  border-color: #8881;
}

.screenshot {
  box-shadow: 0 2px 5px rgba(0,0,0,.35);
}
