<!doctype html>
<html lang="en">
  <head>
    <title>Polybar - {{ page.title }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" type="image/x-icon" href="{{ "/assets/favicon.ico" | relative_url }}">

    <!-- Google Fonts -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600|Flamenco|Josefin+Sans:300,400|Ubuntu+Mono|Poiret+One">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
          crossorigin="anonymous">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
          crossorigin="anonymous">

    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/util.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/code.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/features.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/mockup.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/navbar.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/typography.css" | relative_url }}">

    <script src="{{ "/assets/js/scroll.js" | relative_url }}"></script>
  </head>

  <body class="bg-light">

    {% include navbar.html %}

    {{ content }}

    {% include footer.html %}

  </body>
</html>
